
.btn-outline-purple{
    width: 25%;
}
.part3 img{
    width: 95%;
    height: 50vh;
}
.part2 img{
    height: 91vh;
}
#aboutus .col-sm-3 p{
    font-size: 1.4rem;
}
#aboutus .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}
#aboutus .card:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 575px){
    .part1 img{
        width: 92%;
    }
    .btn-outline-purple{
        width: 25%;
    }
    .part2 img{
        height: 300px;
    }
    .part3 .img{
        order: 2;
    }
    .part3 .card{
        order:1;
    }
    #aboutus .col-sm-3{
        width: 50%;
    }
    #aboutus .col-sm-3 p{
        font-size: 1.1rem;
    }
}
@media (min-width: 720px) and (max-width:1080px){
    .btn-outline-purple{
        width: 40%;
    }
    .part1{
        margin-left: 60px;
    }
    .part2 img{
        height: 300px;
    }
    .part3 .img{
        order: 2;
    }
    .part3 .card{
        order:1;
    }
    #aboutus .col-sm-3{
        width: 50%;
    }
    #aboutus .col-sm-3 p{
        font-size: 1.1rem;
    }
}